.preloader{
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2d2f36;
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
        animation: box 1s infinite;
        display: flex;
        align-items: center;
        .circle{
            width: 60px;
            height: 60px;
            margin: 30px;
            border-radius: 100%;
            background-color: white;
            box-shadow: 0 0 10px white;
        }
    }
    @keyframes box {
        from{
            transform: rotate(0);
        }
        to{ 
            transform: rotate(360deg);
        }
    }
}