<header (window:resize)="resize()">
    <div class="wrapper">
        <div>
            <label *ngIf="isSearch">
                <img src="assets/images/search.svg">
                <input type="text" (input)="search($event.target.value)">
            </label>
            <p *ngIf="login" class="login">{{login}}</p>
        </div>
        <div class="settings">
            <a [ngStyle]="windowWidth <= 400 && {'margin' : '0 ' + windowWidth / 40 + 'px', 'width' : windowWidth / 10 + 'px','height' : windowWidth / 10 + 'px'}" *ngIf="!userInfo.currentUser?.avatar" [routerLink]="['/user', userInfo.currentUser?.id]" routerLinkActive="active" class="userPage">{{userInfo.currentUser?.login[0] | uppercase}}</a>
            <a [ngStyle]="windowWidth <= 400 && {'margin' : '0 ' + windowWidth / 40 + 'px', 'width' : windowWidth / 10 + 'px','height' : windowWidth / 10 + 'px'}" *ngIf="userInfo.currentUser?.avatar" [routerLink]="['/user', userInfo.currentUser?.id]" routerLinkActive="active" class="userPage"><img class="userIcon" [src]="userInfo.currentUser?.avatar"></a>
            <a routerLink="/feed" routerLinkActive="active"><img [ngStyle]="windowWidth <= 400 && {'margin' : '0 ' + windowWidth / 40 + 'px', 'width' : windowWidth / 10 + 'px','height' : windowWidth / 10 + 'px'}" class="icon" src="assets/images/feed.svg"></a>
            <a routerLink="/users" routerLinkActive="active"><img [ngStyle]="windowWidth <= 400 && {'margin' : '0 ' + windowWidth / 40 + 'px', 'width' : windowWidth / 10 + 'px','height' : windowWidth / 10 + 'px'}" class="icon" src="assets/images/users.svg"></a>
            <a routerLink="/settings" routerLinkActive="active"><img [ngStyle]="windowWidth <= 400 && {'margin' : '0 ' + windowWidth / 40 + 'px', 'width' : windowWidth / 10 + 'px','height' : windowWidth / 10 + 'px'}" class="icon" src="assets/images/settings.svg"></a>
            <a href="#"><img [ngStyle]="windowWidth <= 400 && {'margin' : '0 ' + windowWidth / 40 + 'px', 'width' : windowWidth / 10 + 'px','height' : windowWidth / 10 + 'px'}" class="icon" (click)="logout($event)" src="assets/images/exit.svg"></a>
            <ng-content></ng-content>
        </div>
    </div>
</header>