.registration{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .inputWrapper{
        width: 260px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        p{
            font-size: 18px;
            margin: 0;
            margin-bottom: 5px;
        }
        input{
            width: 250px;
            font-size: 18px;
            padding: 5px;
            border-radius: 10px;
            border: 0;
            box-shadow: 0 0 5px white;
        }
    }
    .buttonWrapper{
        display: flex;
        justify-content: center;
        .button{
            padding: 7px 20px;
            font-size: 24px;
            font-weight: bold;
            border: 0;
            border-radius: 10px;
            box-shadow: 0 0 5px white;
            background-color: white;
            color: #393b44;
            margin: 20px 0 10px;
        }
    }
}
@media only screen and (max-width: 350px) {
    .registration{
        .inputWrapper{
            margin: 5px 0;
            width: 100%;
            input{
                width: 96%;
                padding: 2%;
            }
        }
    }
}